$black: rgba(63, 63, 63, 1);
$white: rgba(255, 255, 255, 1);
$color1: rgba(237, 121, 35, 1);
$color2: rgba(153, 153, 153, 1);

/*
$color1: rgba(242, 239, 234, 1);
$color2: rgba(64, 61, 88, 1);
$color4: rgba(102, 215, 209, 1);
$color3: rgba(252, 119, 83, 1);
$color5: rgba(219, 213, 110, 1); 

$white: rgba( 255, 255, 255, 1 );
$black: rgba( 3, 3, 3, 1);

$color1: rgba(46, 23, 96, 1);
$color2: rgba(204, 88, 3, 1);
$color3: rgba(255, 191, 0, 1);
$color4: rgba(250, 242, 161, 1);
$color5: rgba(0, 157, 220, 1);
*/