body,html {
	min-height: 100%;
}

body {
	background-color: #365c8f; /* Old browsers */
	background: -moz-linear-gradient(top, #365c8f 0%, #1b3559 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #365c8f 0%,#1b3559 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #365c8f 0%,#1b3559 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#365c8f', endColorstr='#1b3559',GradientType=0 ); /* IE6-9 */

	background-size: contain;
	background-repeat: no-repeat;
	
	color: $white;
	padding: 7vh 1rem 0;
	box-sizing: border-box;
}

::selection {
	background: $color1;
	color: $white;
}
::-moz-selection {
	background: $color1;
	color: $white;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}